<h3>Masters</h3>
<p>Dashboard > Admin > Masters</p>

<autocomplete></autocomplete>

<table class="striped centered">
    <thead>
        <tr>
            <th>#</th>
            <th class="lefty">Name</th>
            <th class="lefty">Description</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let master of data.masterdata; let i = index;">
            <td>{{i+1}}</td>
            <td class="lefty"><a>{{master.name}}</a></td>
            <td class="lefty">{{master.description}}</td>
        </tr>
    </tbody>
</table>
<br>
<hr>

